

header {
    display: flex;
    flex-direction: column;
  flex: 1 1 200px;
    max-width: 530px;
  background-color: rgba(256, 256, 256, .75);
}

header .title {
  
  padding-bottom: 20px;
}
header h1 {
    
    margin: 0;
    padding: 0;
    font-size: 150px;
    font-family:'Inter', sans-serif;
    font-weight: 400;
    line-height: .75;
    max-width: 800px;
   
} 

header h3 {
    padding: 0;
    margin-top: -10px;
    font-size: 35px;
    font-family: 'Inter', sans-serif; 
    font-weight: 300;
    line-height: .75;
    max-width: 500px;
    
}

header .home { 
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: black; 
}


nav {
    margin-top: 0px;
    font-size: 25px;
    font-weight: 200;
    max-width:475px;
    justify-content: center;
    padding-bottom: 20px;
    background-color: rgba(256, 256, 256, .75);
   
}

nav a {
    text-decoration: none; 
    font-family: 'Inter', sans-serif;
    color: black; 
    margin-right: 40px;
    
}

nav a:hover {
    color: #A9AAF0;
    transition: .5s;
}



.container {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    
   
}

.info { 
    padding-right: 20px;
    margin: 0;
    margin-top: 20px;
    max-width: 400px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    
    background-color: rgba(256, 256, 256, .75);
   
    
}
.michael {
   
    max-width: 300px;
    
    
    
} 

canvas {display: block;} 

.BodyWrapper {
    position: absolute;
    margin-left: 10px;
    
} 

.findings {
    padding-right: 20px;
    margin: 0;
    margin-top: 20px;
    max-width: 700px;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    background-color: white;
}



@media (max-width: 520px) {

    body {
        max-width: 520px;
    }
    
    header h1 { 
        font-size: 100px;
    }
    
    header h3 {
        font-size: 30px;
    }
}

